:root {
  --color-brand: #646cff;
  --color-muted: #888;
  --highlight-hover: rgba(0, 255, 128, 0.2);
  --shadow-hover: 0 0 2em var(--color-brand);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(var(--shadow-hover));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #666; /* Improved contrast */
  font-weight: 500;
}

.glass-dark {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.call-control-button {
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.call-control-button:hover {
  background-color: var(--highlight-hover); /* Highlight color */
  cursor: pointer;
}
input[type="range"].slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: #00ff90;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  margin-top: -6px;
}
